.form-container {
    display: flex;
    flex-direction: column;
    align-items: start; /* Aligns the children (form elements) to the start */
    margin-bottom: 20px; /* Space between the form and the grid */
    width: 80%; /* Match the width of the review-container for alignment */
    margin-left: auto;
    margin-right: auto;
}

.review-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Maintain two equal columns */
    gap: 10px; /* Adjust gap for smaller space between columns */
    width: 120%; /* Ensure the container fits within its parent */
    margin: 20px auto; /* Center the container with auto margins */
    padding: 14px; /* Optional: adjust padding as needed */
    margin-left: -14px;
}


.review-category {
    display: flex;
    flex-direction: column;
    align-items: start; /* Aligns items to the start of the div */
    overflow-x: hidden; /* Adjust this if you want to hide any horizontal overflow */
    white-space: normal; /* Allows text to wrap */
}

.review-category h5 {
    margin-bottom: 10px;
}

.review-category ol {
    padding-left: 18px; /* Adjust padding to align list styling */
    font-size: 12px; /* Smaller font size, as specified */
    white-space: normal; /* Ensure text wraps */
    overflow-wrap: break-word; /* Helps ensure long words do not stretch the container */
}

.bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.bar-label {
    width: 50px; /* Adjust this width based on your longest label */
    flex-shrink: 0; /* Prevents the label from shrinking */
    text-align: right; /* Aligns the text to the right */
    margin-right: 10px; /* Adds some space between label and bar */
    font-size: 13px;
}

.percentage-label {
    margin-right: 10px;
    margin-left: 5px;
    font-size: 13px;
}

.bar {
    height: 22px;
    background-color: #0ba6ff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

h6 {
    display: none;
}

